.d-none {                        /*display: none 하는 클래스*/
    display: none;               /*표시 : 안함*/
}
#header {
    background-color: #1F9D96;
    text-align: center;
    padding: 50px 0;
}
#header h2 {
    color: white;
    font-size: 50px;
}
#header h2:first-letter {        /*첫-문자열 의사선택자*/
    font-size: 70px;
}
#header p {
    color: white;
    font-size: 30px;
    margin: 30px;
}
#menu {
    background-color: #1B847D;
    padding: 15px 0;
    text-align: center;
}
#menu a {
    text-decoration: none;
    color: white;
    margin : 0 10px;
}
.main {
    display: flex;
    max-width: 1440px;
    min-height: 2000px;     /*블로그 게시글이 많으면, 화면이 자연스럽게 길어지는 것을 표현*/
    margin: 50px auto;
}
.main #content {
    flex : 4;
    background-color : #1c5e5b62;
}
.main #sub {
    flex : 1;
    background-color: #153d3b3a;
}
#footer {
    background-color: #1F9D96;
    padding: 50px;
    color: white;
}
.footer-wrap {
    max-width: 1440px;
    margin: 0 auto;
}